h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2.5%;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5%;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.5%;
}

h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.5%;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
}

.bodyBold {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
}

.smallBold {
  font-size: 14px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
}

.body {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}

.small {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}

.tiny {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
}

.pretext {
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 2.5%;
}